.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -5%;
    background-color: #f0f0f0;
  }

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 22px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.button:active {
    transform: scale(0.95);
}

.titleName {
    font-size: 4rem;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    text-align: center;
}